@import url(https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bebas+Neue&family=Fredoka:wght@300;400;500;600&family=Limelight&family=Playfair+Display+SC:wght@400;700&family=Poiret+One&family=Prata&family=Raleway:wght@100&family=Vidaloka&display=swap);

@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");


body {
	font-family: raleway;
	font-size: 18px;
	margin: 0px;	
	background-color: #EEEEEE;

}

h2{
	font-family: fredoka;
	font-size: 50px;
	font-weight: lighter;
}
h1{
	font-family: limelight;
	font-size: 50px;
	font-weight: bolder;
}
h3{
	font-family: fredoka;
	font-size: 30px;
	font-weight: lighter;
}

a {
	text-decoration: none;

}